.section-booking {
  padding: 100px 0 45px;
  background-color: white;
  &__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  &__form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 565px;
    width: 100%;
  }
  &__title {
    text-align: center;
    font-size: 36px;
  }
  &__form {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  &__input {
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: #e5e5e5;
    max-width: 277.5px;
    width: calc(50% - 10px);
  }
  &__btn {
    width: 98%;
    padding: 20px;
    color: white;
    background-color: #e8c300;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
  }
  &__btn:hover {
    background-color: darken(#e8c300, $amount: 2%);
    width: 99%;
  }
  &__img-container {
    margin-left: 70px;
  }
  &__discription {
    text-align: center;
    padding: 40px 0;
    color: #33333380;

    &--bold {
      font-weight: bold;
    }
  }
  @media screen and (max-width: 992px) {
    &__input {
      width: 100%;
    }
    &__btn {
      max-width: 277.5px;
      margin-left: 5px;
    }
  }
  @media screen and (max-width: 768px) {
    &__form-container {
      margin-bottom: 20px;
    }
    &__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-line-pack: center;
          align-content: center;
    }
    &__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    &__img-container {
      margin-left: 0;
      width: 70%;
    }
    @media screen and (max-width: 468px) {
      &__img-container {
        width: 100%;
      }
    }
  }
}
