.footer-map {
  background-image: url("../img/contact/map.jpg");
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    /* 2x Retina styles here */
    background-image: url("../img/contact/map@2x.jpg");
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (-o-min-device-pixel-ratio: 3/1),
    only screen and (min-device-pixel-ratio: 3),
    only screen and (-webkit-min-device-pixel-ratio: 4),
    only screen and (-o-min-device-pixel-ratio: 4/1),
    only screen and (min-resolution: 384dpi),
    only screen and (min-resolution: 3dppx) {
    /* 3x Retina styles here */
    background-image: url("../img/contact/map@3x.jpg");
  }
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 475px;
}
.footer {
  &__txt {
    background-color: black;
    padding: 50px 0;
    text-align: center;
    color: rgba(250, 250, 250, 0.8);
    letter-spacing: 1px;
    font-size: 14px;

    &--bold {
      font-weight: bold;
    }
  }
}
