.section-about {
  background-color: white;
  padding: 100px 0;
}

.section-about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-about__text-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  width: 100%;
  text-align: center;
  padding: 0 2.5%;
}

.section-about__description {
  font-size: 14px;
}

.section-about__title {
  margin-bottom: 61px;
}

.section-about__subtitle {
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 18px;
}

.section-about__img {
  width: 100%;
}

.section-booking {
  padding: 100px 0 45px;
  background-color: white;
}

.section-booking__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-booking__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 565px;
  width: 100%;
}

.section-booking__title {
  text-align: center;
  font-size: 36px;
}

.section-booking__form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-booking__input {
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: #e5e5e5;
  max-width: 277.5px;
  width: calc(50% - 10px);
}

.section-booking__btn {
  width: 98%;
  padding: 20px;
  color: white;
  background-color: #e8c300;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.section-booking__btn:hover {
  background-color: #deba00;
  width: 99%;
}

.section-booking__img-container {
  margin-left: 70px;
}

.section-booking__discription {
  text-align: center;
  padding: 40px 0;
  color: #33333380;
}

.section-booking__discription--bold {
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .section-booking__input {
    width: 100%;
  }
  .section-booking__btn {
    max-width: 277.5px;
  }
}

@media screen and (max-width: 768px) {
  .section-booking__form-container {
    margin-bottom: 20px;
  }
  .section-booking__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .section-booking__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-booking__img-container {
    margin-left: 0;
    width: 70%;
  }
}

@media screen and (max-width: 768px) and (max-width: 468px) {
  .section-booking__img-container {
    width: 100%;
  }
}

.section-menu {
  text-align: center;
  margin: 100px 0;
}

.section-menu__subtitle {
  margin: 30px auto 50px;
  font-size: 18px;
  font-weight: bold;
  max-width: 565px;
}

.section-menu__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-menu__list-item {
  list-style-type: none;
  max-width: 120px;
  width: 100%;
  padding: 20px 0;
  border-left: 1px solid rgba(51, 51, 51, 0.2);
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.section-menu__list-item:first-child {
  border-left: none;
}

.section-menu__list-item:hover {
  border-bottom: 1px solid;
}

.section-private {
  background-image: url("../img/private/private-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 50px 0;
}

.section-private__title {
  color: white;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.5em;
  margin-bottom: 50px;
}

.section-private__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.section-private__img:first-child {
  margin-right: 70px;
}

.section-private__img-title {
  font-size: 24px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding: 30px 20px;
  background-color: black;
  max-width: 375px;
  max-height: 100px;
  height: 90px;
  width: 90%;
  z-index: 1;
  position: absolute;
  left: 47%;
  top: 41%;
}

.section-private__txt-discription {
  color: #ffffff80;
  text-align: center;
}

.img-item {
  max-width: 375px;
  width: 100%;
  max-height: 475px;
  height: 100%;
}

.txt-discription--bold {
  font-weight: bold;
}

.border-left {
  right: 75%;
}

.img-title-rotate {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  left: -47%;
}
/*# sourceMappingURL=blocks.css.map */